# 1. Setup

In [2]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display
%matplotlib inline

# Reading the data
df_train = pd.read_csv('../../datasets/bpi_2012_train_eng.csv')

In [45]:
char = 'O'
df_train_split = df_train[(df_train['event'].str[0] == char) & (df_train['nextEvent'].str[0] == char)]

display(pd.DataFrame(df_train_split['nextEventTimeRel'].describe().loc[['mean', '50%']]))
df_train_split[['event', 'nextEvent', 'nextEventTimeRel']].head(20)

      nextEventTimeRel
mean      95991.002879
50%           0.000000

           event    nextEvent  nextEventTimeRel
8         O_SENT       O_SENT             135.0
13     O_CREATED       O_SENT               0.0
23   O_SENT_BACK  O_SENT_BACK               0.0
27    O_SELECTED    O_CREATED               2.0
36        O_SENT       O_SENT          656402.0
38     O_CREATED       O_SENT               0.0
42        O_SENT       O_SENT              39.0
45    O_SELECTED  O_CANCELLED               1.0
49        O_SENT       O_SENT               0.0
53        O_SENT       O_SENT          613521.0
57     O_CREATED       O_SENT               0.0
64    O_SELECTED    O_CREATED               2.0
67    O_SELECTED    O_CREATED               1.0
86        O_SENT       O_SENT               0.0
90     O_CREATED       O_SENT               1.0
103  O_SENT_BACK  O_SENT_BACK          518923.0
110    O_CREATED       O_SENT               0.0
113   O_SELECTED    O_CREATED               1.0
126       O_SENT       O_SENT          628215.0
128       O_SENT       O_SENT          635392.0

In [46]:
char = 'A'
df_train_split = df_train[(df_train['event'].str[0] == char) & (df_train['nextEvent'].str[0] == char)]

display(pd.DataFrame(df_train_split['nextEventTimeRel'].describe().loc[['mean', '50%']]))
df_train_split[['event', 'nextEvent', 'nextEventTimeRel']].head(20)

      nextEventTimeRel
mean       5836.518775
50%          32.000000

                 event          nextEvent  nextEventTimeRel
1          A_SUBMITTED  A_PARTLYSUBMITTED            8205.0
2    A_PARTLYSUBMITTED  A_PARTLYSUBMITTED               0.0
4    A_PARTLYSUBMITTED      A_PREACCEPTED              35.0
7    A_PARTLYSUBMITTED      A_PREACCEPTED              86.0
14         A_SUBMITTED  A_PARTLYSUBMITTED               1.0
18         A_SUBMITTED  A_PARTLYSUBMITTED           37547.0
35       A_PREACCEPTED      A_PREACCEPTED            6941.0
37          A_ACCEPTED        A_FINALIZED              26.0
40         A_SUBMITTED  A_PARTLYSUBMITTED               1.0
68       A_PREACCEPTED      A_PREACCEPTED               0.0
69       A_PREACCEPTED      A_PREACCEPTED               0.0
74          A_ACCEPTED        A_FINALIZED              75.0
78       A_PREACCEPTED      A_PREACCEPTED            3380.0
83   A_PARTLYSUBMITTED  A_PARTLYSUBMITTED           11728.0
95          A_ACCEPTED        A_FINALIZED             219.0
99         A_SUBMITTED  A_PARTLYSUBMITTED               0.0
101         A_APPROVED       A_REGISTERED               NaN
112  A_PARTLYSUBMITTED  A_PARTLYSUBMITTED            1491.0
114        A_SUBMITTED  A_PARTLYSUBMITTED               1.0
117        A_SUBMITTED  A_PARTLYSUBMITTED               0.0

In [47]:
char = 'W'
df_train_split = df_train[(df_train['event'].str[0] == char) & (df_train['nextEvent'].str[0] == char)]

display(pd.DataFrame(df_train_split['nextEventTimeRel'].describe().loc[['mean', '50%']]))
df_train_split[['event', 'nextEvent', 'nextEventTimeRel']].head(20)

      nextEventTimeRel
mean     171282.582818
50%       34776.500000

,event,nextEvent,nextEventTimeRel
3,W_Nabellen offertes,W_Nabellen offertes,6659.0
5,W_Nabellen incomplete dossiers,W_Valideren aanvraag,12832.0
11,W_Nabellen incomplete dossiers,W_Nabellen incomplete dossiers,2383.0
17,W_Nabellen incomplete dossiers,W_Nabellen incomplete dossiers,186343.0
22,W_Completeren aanvraag,W_Completeren aanvraag,19684.0
24,W_Nabellen offertes,W_Nabellen offertes,246132.0
26,W_Nabellen offertes,W_Nabellen offertes,57984.0
29,W_Nabellen offertes,W_Nabellen offertes,228860.0
32,W_Nabellen incomplete dossiers,W_Nabellen incomplete dossiers,166.0
39,W_Nabellen incomplete dossiers,W_Valideren aanvraag,0.0
41,W_Completeren aanvraag,W_Completeren aanvraag,205172.0
43,W_Completeren aanvraag,W_Completeren aanvraag,6287.0
44,W_Completeren aanvraag,W_Completeren aanvraag,70003.0
46,W_Beoordelen fraude,W_Beoordelen fraude,4980.0
54,W_Completeren aanvraag,W_Completeren aanvraag,90217.0
55,W_Nabellen incomplete dossiers,W_Nabellen incomplete dossiers,320842.0
59,W_Nabellen offertes,W_Nabellen offertes,146321.0
60,W_Valideren aanvraag,W_Valideren aanvraag,9355.0
63,W_Completeren aanvraag,W_Completeren aanvraag,74205.0
71,W_Afhandelen leads,W_Afhandelen leads,235.0