In [1]:
import pandas as pd
import numpy as np

In [2]:
data_2012 = pd.read_csv('BPI_2012.csv')
data_2012.head(15)

,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource
0,173688,A_SUBMITTED,2011/10/01 00:38:44.546,2011/10/01 00:38:44.546,20000,2011/10/01 00:38:44.546,112
1,173688,A_PARTLYSUBMITTED,2011/10/01 00:38:44.880,2011/10/01 00:38:44.880,20000,2011/10/01 00:38:44.546,112
2,173688,A_PREACCEPTED,2011/10/01 00:39:37.906,2011/10/01 00:39:37.906,20000,2011/10/01 00:38:44.546,112
3,173688,A_PREACCEPTED,2011/10/01 00:39:37.906,2011/10/01 00:39:37.906,20000,2011/10/01 00:38:44.546,112
4,173688,W_Completeren aanvraag,2011/10/01 11:36:46.437,2011/10/01 11:45:13.917,20000,2011/10/01 00:38:44.546,112
5,173688,A_ACCEPTED,2011/10/01 11:42:43.308,2011/10/01 11:42:43.308,20000,2011/10/01 00:38:44.546,10862
6,173688,O_SELECTED,2011/10/01 11:45:09.243,2011/10/01 11:45:09.243,20000,2011/10/01 00:38:44.546,10862
7,173688,A_FINALIZED,2011/10/01 11:45:09.243,2011/10/01 11:45:09.243,20000,2011/10/01 00:38:44.546,10862
8,173688,O_CREATED,2011/10/01 11:45:11.197,2011/10/01 11:45:11.197,20000,2011/10/01 00:38:44.546,10862
9,173688,O_SENT,2011/10/01 11:45:11.380,2011/10/01 11:45:11.380,20000,2011/10/01 00:38:44.546,10862
10,173688,O_SENT,2011/10/01 11:45:11.380,2011/10/01 11:45:11.380,20000,2011/10/01 00:38:44.546,10862
11,173688,W_Nabellen offertes,2011/10/01 12:15:41.290,2011/10/01 12:17:08.924,20000,2011/10/01 00:38:44.546,10862
12,173688,W_Nabellen offertes,2011/10/08 16:26:57.720,2011/10/08 16:32:00.886,20000,2011/10/01 00:38:44.546,10913
13,173688,W_Nabellen offertes,2011/10/10 11:32:22.495,2011/10/10 11:33:05.791,20000,2011/10/01 00:38:44.546,11049
14,173688,O_SENT_BACK,2011/10/10 11:33:03.668,2011/10/10 11:33:03.668,20000,2011/10/01 00:38:44.546,11049

In [3]:
data_2012['next_case'] = data_2012['case'].shift(-1)
data_2012['next_event'] = data_2012['event'].shift(-1)
for row, value in data_2012.iterrows():
    if value['case'] != value['next_case']:
        data_2012['next_event'][row] = 'NaN'

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [4]:
data_2012.head()

,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource,next_case,next_event
0,173688,A_SUBMITTED,2011/10/01 00:38:44.546,2011/10/01 00:38:44.546,20000,2011/10/01 00:38:44.546,112,173688.0,A_PARTLYSUBMITTED
1,173688,A_PARTLYSUBMITTED,2011/10/01 00:38:44.880,2011/10/01 00:38:44.880,20000,2011/10/01 00:38:44.546,112,173688.0,A_PREACCEPTED
2,173688,A_PREACCEPTED,2011/10/01 00:39:37.906,2011/10/01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,173688.0,A_PREACCEPTED
3,173688,A_PREACCEPTED,2011/10/01 00:39:37.906,2011/10/01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,173688.0,W_Completeren aanvraag
4,173688,W_Completeren aanvraag,2011/10/01 11:36:46.437,2011/10/01 11:45:13.917,20000,2011/10/01 00:38:44.546,112,173688.0,A_ACCEPTED

In [5]:
events = data_2012['event'].unique()

In [6]:
df_copy = data_2012

In [7]:
for x in events:
    df_copy[x] = df_copy.apply(lambda _: 0, axis=1)

In [8]:
df_copy.columns

Index(['case', 'event', 'startTime', 'completeTime', 'AMOUNT_REQ', 'REG_DATE',
       'org:resource', 'next_case', 'next_event', 'A_SUBMITTED',
       'A_PARTLYSUBMITTED', 'A_PREACCEPTED', 'W_Completeren aanvraag',
       'A_ACCEPTED', 'O_SELECTED', 'A_FINALIZED', 'O_CREATED', 'O_SENT',
       'W_Nabellen offertes', 'O_SENT_BACK', 'W_Valideren aanvraag',
       'A_REGISTERED', 'A_APPROVED', 'O_ACCEPTED', 'A_ACTIVATED',
       'O_CANCELLED', 'A_DECLINED', 'A_CANCELLED', 'W_Afhandelen leads',
       'O_DECLINED', 'W_Nabellen incomplete dossiers', 'W_Beoordelen fraude'],
      dtype='object')

In [9]:
df_copy.head()

,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource,next_case,next_event,A_SUBMITTED,...,A_APPROVED,O_ACCEPTED,A_ACTIVATED,O_CANCELLED,A_DECLINED,A_CANCELLED,W_Afhandelen leads,O_DECLINED,W_Nabellen incomplete dossiers,W_Beoordelen fraude
0,173688,A_SUBMITTED,2011/10/01 00:38:44.546,2011/10/01 00:38:44.546,20000,2011/10/01 00:38:44.546,112,173688.0,A_PARTLYSUBMITTED,0,...,0,0,0,0,0,0,0,0,0,0
1,173688,A_PARTLYSUBMITTED,2011/10/01 00:38:44.880,2011/10/01 00:38:44.880,20000,2011/10/01 00:38:44.546,112,173688.0,A_PREACCEPTED,0,...,0,0,0,0,0,0,0,0,0,0
2,173688,A_PREACCEPTED,2011/10/01 00:39:37.906,2011/10/01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,173688.0,A_PREACCEPTED,0,...,0,0,0,0,0,0,0,0,0,0
3,173688,A_PREACCEPTED,2011/10/01 00:39:37.906,2011/10/01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,173688.0,W_Completeren aanvraag,0,...,0,0,0,0,0,0,0,0,0,0
4,173688,W_Completeren aanvraag,2011/10/01 11:36:46.437,2011/10/01 11:45:13.917,20000,2011/10/01 00:38:44.546,112,173688.0,A_ACCEPTED,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# making a list with all the case id's
lst_caseID = []
for x in data_2012['case']:
    lst_caseID.append(x)
lst_case_ID = []
for t in lst_caseID:
    if t not in lst_case_ID:
        lst_case_ID.append(t)
        
lst_case_ID

[173688,
 173691,
 173694,
 173697,
 173700,
 173703,
 173706,
 173709,
 173712,
 173715,
 173718,
 173721,
 173724,
 173727,
 173730,
 173733,
 173736,
 173739,
 173742,
 173745,
 173748,
 173751,
 173754,
 173757,
 173760,
 173763,
 173766,
 173769,
 173772,
 173775,
 173778,
 173781,
 173784,
 173787,
 173790,
 173793,
 173796,
 173799,
 173802,
 173805,
 173808,
 173811,
 173814,
 173817,
 173820,
 173823,
 173826,
 173829,
 173832,
 173835,
 173838,
 173841,
 173844,
 173847,
 173850,
 173853,
 173856,
 173859,
 173862,
 173865,
 173868,
 173871,
 173874,
 173877,
 173880,
 173883,
 173886,
 173889,
 173892,
 173895,
 173898,
 173901,
 173904,
 173907,
 173910,
 173913,
 173916,
 173919,
 173922,
 173925,
 173928,
 173931,
 173934,
 173937,
 173940,
 173943,
 173946,
 173949,
 173952,
 173955,
 173958,
 173961,
 173964,
 173979,
 173982,
 173985,
 173988,
 173991,
 173994,
 173997,
 174000,
 174003,
 174006,
 174009,
 174012,
 174015,
 174018,
 174021,
 174024,
 174027,
 174030,
 174033,
 174036,
 174039,
 174042,
 174045,
 174048,
 174051,
 174054,
 174057,
 174060,
 174063,
 174066,
 174069,
 174072,
 174075,
 174078,
 174081,
 174084,
 174087,
 174090,
 174093,
 174096,
 174099,
 174102,
 174105,
 174108,
 174111,
 174114,
 174117,
 174120,
 174123,
 174126,
 174129,
 174132,
 174135,
 174138,
 174141,
 174144,
 174147,
 174150,
 174153,
 174156,
 174159,
 174162,
 174165,
 174168,
 174171,
 174174,
 174177,
 174180,
 174183,
 174186,
 174189,
 174192,
 174195,
 174198,
 174201,
 174204,
 174207,
 174210,
 174213,
 174216,
 174219,
 174222,
 174225,
 174228,
 174231,
 174234,
 174237,
 174240,
 174243,
 174246,
 174249,
 174252,
 174255,
 174258,
 174261,
 174264,
 174267,
 174270,
 174273,
 174276,
 174279,
 174282,
 174285,
 174288,
 174291,
 174294,
 174297,
 174300,
 174303,
 174319,
 174322,
 174325,
 174328,
 174331,
 174334,
 174337,
 174340,
 174343,
 174346,
 174349,
 174352,
 174355,
 174358,
 174361,
 174364,
 174367,
 174370,
 174373,
 174376,
 174379,
 174382,
 174385,
 174388,
 174391,
 174394,
 174397,
 174400,
 174403,
 174406,
 174409,
 174412,
 174415,
 174418,
 174421,
 174424,
 174427,
 174430,
 174433,
 174436,
 174439,
 174442,
 174445,
 174448,
 174451,
 174454,
 174457,
 174460,
 174463,
 174466,
 174469,
 174472,
 174475,
 174478,
 174481,
 174484,
 174487,
 174490,
 174493,
 174496,
 174499,
 174502,
 174505,
 174508,
 174511,
 174514,
 174517,
 174520,
 174523,
 174526,
 174529,
 174532,
 174535,
 174538,
 174541,
 174544,
 174547,
 174559,
 174562,
 174565,
 174568,
 174571,
 174574,
 174577,
 174599,
 174602,
 174605,
 174608,
 174611,
 174614,
 174617,
 174620,
 174623,
 174626,
 174629,
 174632,
 174635,
 174638,
 174641,
 174644,
 174647,
 174650,
 174653,
 174656,
 174659,
 174662,
 174665,
 174668,
 174671,
 174674,
 174677,
 174680,
 174683,
 174686,
 174689,
 174692,
 174695,
 174698,
 174701,
 174704,
 174707,
 174710,
 174713,
 174716,
 174719,
 174722,
 174725,
 174728,
 174731,
 174734,
 174737,
 174740,
 174743,
 174746,
 174749,
 174752,
 174755,
 174758,
 174761,
 174764,
 174767,
 174770,
 174773,
 174776,
 174779,
 174782,
 174785,
 174788,
 174791,
 174794,
 174797,
 174800,
 174803,
 174806,
 174809,
 174812,
 174815,
 174818,
 174821,
 174824,
 174827,
 174830,
 174833,
 174836,
 174839,
 174842,
 174845,
 174848,
 174851,
 174854,
 174857,
 174860,
 174863,
 174866,
 174869,
 174872,
 174875,
 174878,
 174881,
 174884,
 174887,
 174890,
 174893,
 174896,
 174899,
 174902,
 174905,
 174908,
 174911,
 174914,
 174917,
 174920,
 174923,
 174926,
 174929,
 174932,
 174935,
 174938,
 174941,
 174944,
 174947,
 174950,
 174953,
 174956,
 174959,
 174962,
 174965,
 174968,
 174979,
 174982,
 174985,
 174988,
 174991,
 174994,
 174997,
 175000,
 175003,
 175006,
 175009,
 175012,
 175015,
 175018,
 175021,
 175024,
 175027,
 175030,
 175033,
 175036,
 175039,
 175042,
 175045,
 175048,
 175051,
 175054,
 175057,
 175060,
 175063,
 175066,
 175069,
 175072,
 175075,
 175078,
 175081,
 175084,
 175087,
 175090,
 175093,
 175096,
 175099,
 175102,
 175105,
 175108,
 175111,
 175114,
 175117,
 175120,
 175123,
 175126,
 175129,
 175132,
 175135,
 175138,
 175141,
 175144,
 175147,
 175150,
 175153,
 175156,
 175159,
 175162,
 175165,
 175168,
 175171,
 175174,
 175177,
 175180,
 175183,
 175186,
 175189,
 175192,
 175195,
 175198,
 175201,
 175204,
 175219,
 175222,
 175225,
 175228,
 175231,
 175234,
 175239,
 175242,
 175245,
 175248,
 175251,
 175254,
 175257,
 175260,
 175263,
 175266,
 175269,
 175272,
 175275,
 175278,
 175281,
 175284,
 175287,
 175290,
 175293,
 175296,
 175299,
 175302,
 175305,
 175308,
 175311,
 175314,
 175317,
 175320,
 175323,
 175326,
 175329,
 175332,
 175335,
 175338,
 175341,
 175344,
 175347,
 175350,
 175353,
 175356,
 175359,
 175362,
 175365,
 175368,
 175371,
 175374,
 175377,
 175380,
 175383,
 175386,
 175389,
 175392,
 175395,
 175398,
 175401,
 175404,
 175407,
 175410,
 175413,
 175416,
 175419,
 175422,
 175425,
 175428,
 175431,
 175434,
 175437,
 175440,
 175443,
 175446,
 175449,
 175452,
 175455,
 175458,
 175461,
 175464,
 175467,
 175470,
 175473,
 175476,
 175479,
 175482,
 175485,
 175488,
 175491,
 175494,
 175497,
 175500,
 175519,
 175522,
 175525,
 175528,
 175531,
 175534,
 175537,
 175540,
 175543,
 175546,
 175549,
 175552,
 175555,
 175558,
 175561,
 175564,
 175567,
 175570,
 175573,
 175576,
 175579,
 175582,
 175585,
 175588,
 175591,
 175594,
 175597,
 175600,
 175603,
 175606,
 175609,
 175612,
 175615,
 175618,
 175621,
 175624,
 175627,
 175630,
 175633,
 175636,
 175639,
 175642,
 175645,
 175648,
 175651,
 175654,
 175657,
 175660,
 175663,
 175666,
 175669,
 175672,
 175675,
 175678,
 175681,
 175684,
 175687,
 175690,
 175693,
 175696,
 175699,
 175702,
 175705,
 175708,
 175711,
 175714,
 175717,
 175720,
 175723,
 175726,
 175729,
 175732,
 175735,
 175738,
 175741,
 175744,
 175747,
 175750,
 175753,
 175756,
 175759,
 175762,
 175765,
 175768,
 175771,
 175774,
 175777,
 175780,
 175783,
 175786,
 175789,
 175792,
 175795,
 175798,
 175801,
 175804,
 175807,
 175810,
 175813,
 175816,
 175819,
 175822,
 175825,
 175828,
 175831,
 175834,
 175837,
 175840,
 175843,
 175846,
 175859,
 175862,
 175865,
 175868,
 175871,
 175874,
 175877,
 175880,
 175883,
 175886,
 175889,
 175892,
 175895,
 175898,
 175901,
 175904,
 175907,
 175910,
 175913,
 175916,
 175919,
 175922,
 175925,
 175928,
 175931,
 175934,
 175937,
 175940,
 175943,
 175946,
 175949,
 175952,
 175955,
 175958,
 175961,
 175964,
 175967,
 175970,
 175973,
 175976,
 175979,
 175982,
 175985,
 175988,
 175991,
 175994,
 175997,
 176000,
 176003,
 176006,
 176009,
 176012,
 176015,
 176018,
 176021,
 176024,
 176027,
 176030,
 176033,
 176036,
 176039,
 176042,
 176045,
 176048,
 176051,
 176054,
 176057,
 176060,
 176063,
 176066,
 176069,
 176072,
 176075,
 176078,
 176081,
 176084,
 176087,
 176090,
 176093,
 176096,
 176099,
 176102,
 176105,
 176119,
 176122,
 176125,
 176128,
 176131,
 176134,
 176137,
 176140,
 176143,
 176146,
 176149,
 176152,
 176155,
 176158,
 176161,
 176164,
 176167,
 176170,
 176173,
 176176,
 176179,
 176182,
 176185,
 176188,
 176191,
 176194,
 176197,
 176200,
 176203,
 176206,
 176209,
 176212,
 176215,
 176218,
 176221,
 176224,
 176227,
 176230,
 176233,
 176236,
 176239,
 176242,
 176245,
 176248,
 176251,
 176254,
 176257,
 176260,
 176263,
 176266,
 176269,
 176272,
 176275,
 176278,
 176281,
 176284,
 176287,
 176290,
 176293,
 176296,
 176299,
 176302,
 176305,
 176308,
 176311,
 176314,
 176317,
 176320,
 176323,
 176326,
 176329,
 176332,
 176339,
 176342,
 176345,
 176359,
 176362,
 176365,
 176368,
 176371,
 176374,
 176377,
 176380,
 176383,
 176386,
 176389,
 176392,
 176395,
 176398,
 176401,
 176404,
 176407,
 176410,
 176413,
 176416,
 176419,
 176422,
 176425,
 176428,
 176431,
 176434,
 176437,
 176440,
 176443,
 176446,
 176449,
 176452,
 176455,
 176458,
 176461,
 176464,
 176467,
 176470,
 176473,
 176476,
 176479,
 176482,
 176485,
 176488,
 176491,
 176494,
 176497,
 176500,
 176503,
 176506,
 176509,
 176512,
 176515,
 176518,
 176521,
 176524,
 176527,
 176530,
 176533,
 176536,
 176539,
 176542,
 176545,
 176548,
 176551,
 176554,
 176557,
 176560,
 176563,
 176566,
 176569,
 176572,
 176575,
 176578,
 176581,
 176584,
 176587,
 176590,
 176593,
 176596,
 176599,
 176602,
 176605,
 176608,
 176611,
 176614,
 176617,
 176620,
 176623,
 176626,
 176629,
 176632,
 176635,
 176639,
 176642,
 176645,
 176648,
 176651,
 176654,
 176657,
 176660,
 176663,
 176666,
 176669,
 176672,
 176675,
 176678,
 176681,
 176684,
 176687,
 176690,
 176693,
 176696,
 176699,
 176702,
 176705,
 176708,
 176711,
 176714,
 176717,
 176720,
 176723,
 176726,
 176729,
 176732,
 176735,
 176738,
 176741,
 176744,
 176747,
 176750,
 176753,
 176756,
 176759,
 176762,
 176765,
 176768,
 176771,
 176774,
 176777,
 176780,
 176783,
 176786,
 176789,
 176792,
 176795,
 176798,
 176801,
 176804,
 176807,
 176810,
 176813,
 ...]

In [12]:
lst_case_ID1 = lst_case_ID[:2]
lst_case_ID1

[173688, 173691]

In [ ]:
for r in lst_case_ID:
    new_list = []
    for i in data_2012[data_2012['case'] == r].T:
        new_list.append(data_2012['event'][i])
        
        for (index, event) in enumerate(data_2012[data_2012['case'] == r].T):
            # Event is de huidige row, dus pas event aan
            occurred_events = new_list[0:index]
            for evType in occurred_events:
                data_2012.iloc[event, data_2012.columns.get_loc(evType)] = 1

In [16]:
# for (index, event) in enumerate(data_2012[data_2012['case'] == 173805].T):
#   # Event is de huidige row, dus pas event aan
#     occurred_events = new_list[0:index]

#     for evType in occurred_events:
#         data_2012.iloc[event, data_2012.columns.get_loc(evType)] = 1

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
pd.set_option('display.max_columns', None)
data_2012[data_2012['case'] == 173691]

,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource,next_case,next_event,A_SUBMITTED,A_PARTLYSUBMITTED,A_PREACCEPTED,W_Completeren aanvraag,A_ACCEPTED,O_SELECTED,A_FINALIZED,O_CREATED,O_SENT,W_Nabellen offertes,O_SENT_BACK,W_Valideren aanvraag,A_REGISTERED,A_APPROVED,O_ACCEPTED,A_ACTIVATED,O_CANCELLED,A_DECLINED,A_CANCELLED,W_Afhandelen leads,O_DECLINED,W_Nabellen incomplete dossiers,W_Beoordelen fraude
21,173691,A_SUBMITTED,2011/10/01 08:08:58.256,2011/10/01 08:08:58.256,5000,2011/10/01 08:08:58.256,112,173691.0,A_PARTLYSUBMITTED,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22,173691,A_PARTLYSUBMITTED,2011/10/01 08:09:02.195,2011/10/01 08:09:02.195,5000,2011/10/01 08:08:58.256,112,173691.0,A_PREACCEPTED,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
23,173691,A_PREACCEPTED,2011/10/01 08:09:56.648,2011/10/01 08:09:56.648,5000,2011/10/01 08:08:58.256,112,173691.0,A_PREACCEPTED,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
24,173691,A_PREACCEPTED,2011/10/01 08:09:56.648,2011/10/01 08:09:56.648,5000,2011/10/01 08:08:58.256,112,173691.0,W_Completeren aanvraag,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
25,173691,W_Completeren aanvraag,2011/10/01 11:37:32.393,2011/10/01 11:43:13.178,5000,2011/10/01 08:08:58.256,112,173691.0,W_Completeren aanvraag,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
26,173691,W_Completeren aanvraag,2011/10/01 14:27:57.775,2011/10/01 14:35:48.791,5000,2011/10/01 08:08:58.256,112,173691.0,A_ACCEPTED,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
27,173691,A_ACCEPTED,2011/10/01 14:33:54.614,2011/10/01 14:33:54.614,5000,2011/10/01 08:08:58.256,10862,173691.0,A_FINALIZED,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
28,173691,A_FINALIZED,2011/10/01 14:35:46.016,2011/10/01 14:35:46.016,5000,2011/10/01 08:08:58.256,10862,173691.0,O_SELECTED,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
29,173691,O_SELECTED,2011/10/01 14:35:46.016,2011/10/01 14:35:46.016,5000,2011/10/01 08:08:58.256,10862,173691.0,O_CREATED,1,1,1,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
30,173691,O_CREATED,2011/10/01 14:35:47.488,2011/10/01 14:35:47.488,5000,2011/10/01 08:08:58.256,10862,173691.0,O_SENT,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
31,173691,O_SENT,2011/10/01 14:35:47.583,2011/10/01 14:35:47.583,5000,2011/10/01 08:08:58.256,10862,173691.0,O_SENT,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
32,173691,O_SENT,2011/10/01 14:35:47.583,2011/10/01 14:35:47.583,5000,2011/10/01 08:08:58.256,10862,173691.0,W_Nabellen offertes,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
33,173691,W_Nabellen offertes,2011/10/01 14:36:13.443,2011/10/01 14:36:25.794,5000,2011/10/01 08:08:58.256,10862,173691.0,W_Nabellen offertes,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
34,173691,W_Nabellen offertes,2011/10/03 16:54:43.257,2011/10/03 16:56:21.195,5000,2011/10/01 08:08:58.256,10862,173691.0,O_SELECTED,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
35,173691,O_SELECTED,2011/10/03 16:56:17.731,2011/10/03 16:56:17.731,5000,2011/10/01 08:08:58.256,11120,173691.0,O_CANCELLED,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
36,173691,O_CANCELLED,2011/10/03 16:56:17.731,2011/10/03 16:56:17.731,5000,2011/10/01 08:08:58.256,11120,173691.0,O_CREATED,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
37,173691,O_CREATED,2011/10/03 16:56:19.613,2011/10/03 16:56:19.613,5000,2011/10/01 08:08:58.256,11120,173691.0,O_SENT,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
38,173691,O_SENT,2011/10/03 16:56:19.645,2011/10/03 16:56:19.645,5000,2011/10/01 08:08:58.256,11120,173691.0,O_SENT,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
39,173691,O_SENT,2011/10/03 16:56:19.645,2011/10/03 16:56:19.645,5000,2011/10/01 08:08:58.256,11120,173691.0,W_Nabellen offertes,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
40,173691,W_Nabellen offertes,2011/10/03 16:56:34.792,2011/10/03 16:57:16.563,5000,2011/10/01 08:08:58.256,11120,173691.0,W_Nabellen offertes,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
41,173691,W_Nabellen offertes,2011/10/10 10:13:44.827,2011/10/10 10:14:45.514,5000,2011/10/01 08:08:58.256,11049,173691.0,O_SENT_BACK,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
42,173691,O_SENT_BACK,2011/10/10 10:14:43.775,2011/10/10 10:14:43.775,5000,2011/10/01 08:08:58.256,11049,173691.0,O_SENT_BACK,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
43,173691,O_SENT_BACK,2011/10/10 10:14:43.775,2011/10/10 10:14:43.775,5000,2011/10/01 08:08:58.256,11049,173691.0,W_Valideren aanvraag,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,1,0,0,0,0,0,0
44,173691,W_Valideren aanvraag,2011/10/10 11:12:36.612,2011/10/10 11:30:54.893,5000,2011/10/01 08:08:58.256,10809,173691.0,W_Valideren aanvraag,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,1,0,0,0,0,0,0
45,173691,W_Valideren aanvraag,2011/10/10 14:11:42.124,2011/10/10 14:14:13.394,5000,2011/10/01 08:08:58.256,10809,173691.0,W_Valideren aanvraag,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,1,0,0,0,0,0,0
46,173691,W_Valideren aanvraag,2011/10/10 14:14:52.842,2011/10/10 14:17:34.633,5000,2011/10/01 08:08:58.256,10809,173691.0,O_ACCEPTED,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,1,0,0,0,0,0,0
47,173691,O_ACCEPTED,2011/10/10 14:17:26.306,2011/10/10 14:17:26.306,5000,2011/10/01 08:08:58.256,10809,173691.0,A_APPROVED,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,1,0,0,0,0,0,0
48,173691,A_APPROVED,2011/10/10 14:17:26.307,2011/10/10 14:17:26.307,5000,2011/10/01 08:08:58.256,10809,173691.0,A_REGISTERED,1,1,1,1,1,1,1,1,1,1,1,1,0,0,1,0,1,0,0,0,0,0,0
49,173691,A_REGISTERED,2011/10/10 14:17:26.307,2011/10/10 14:17:26.307,5000,2011/10/01 08:08:58.256,10809,173691.0,A_ACTIVATED,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,0,1,0,0,0,0,0,0
50,173691,A_ACTIVATED,2011/10/10 14:17:26.307,2011/10/10 14:17:26.307,5000,2011/10/01 08:08:58.256,10809,173694.0,NaN,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,0,0,0,0,0

In [13]:
new_list

['A_SUBMITTED',
 'A_PARTLYSUBMITTED',
 'A_PREACCEPTED',
 'A_PREACCEPTED',
 'W_Completeren aanvraag',
 'W_Completeren aanvraag',
 'A_ACCEPTED',
 'O_SELECTED',
 'A_FINALIZED',
 'O_CREATED',
 'O_SENT',
 'O_SENT',
 'W_Nabellen offertes',
 'W_Nabellen offertes',
 'W_Nabellen offertes',
 'W_Nabellen offertes',
 'W_Nabellen offertes',
 'W_Nabellen offertes',
 'W_Nabellen offertes',
 'W_Nabellen offertes',
 'W_Nabellen offertes',
 'W_Nabellen offertes',
 'W_Nabellen offertes',
 'W_Nabellen offertes',
 'W_Nabellen offertes',
 'A_CANCELLED',
 'O_CANCELLED']

In [14]:
for x in data_2012:
    print(x)

case
event
startTime
completeTime
AMOUNT_REQ
REG_DATE
org:resource
next_case
next_event
A_SUBMITTED
A_PARTLYSUBMITTED
A_PREACCEPTED
W_Completeren aanvraag
A_ACCEPTED
O_SELECTED
A_FINALIZED
O_CREATED
O_SENT
W_Nabellen offertes
O_SENT_BACK
W_Valideren aanvraag
A_REGISTERED
A_APPROVED
O_ACCEPTED
A_ACTIVATED
O_CANCELLED
A_DECLINED
A_CANCELLED
W_Afhandelen leads
O_DECLINED
W_Nabellen incomplete dossiers
W_Beoordelen fraude

In [25]:
for (index, event) in enumerate(data_2012[data_2012['case'] == 173805].T):
  # Event is de huidige row, dus pas event aan
    occurred_events = new_list[0:index]

    for evType in occurred_events:
        data_2012.iloc[event, data_2012.columns.get_loc(evType)] = 1
    #print(f'{data_2012.iloc[event, data_2012.columns.get_loc(evType)]}\r\n')
pd.set_option('display.max_columns', None)
data_2012[data_2012['case'] == 173805]

,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource,next_case,next_event,A_SUBMITTED,A_PARTLYSUBMITTED,A_PREACCEPTED,W_Completeren aanvraag,A_ACCEPTED,O_SELECTED,A_FINALIZED,O_CREATED,O_SENT,W_Nabellen offertes,O_SENT_BACK,W_Valideren aanvraag,A_REGISTERED,A_APPROVED,O_ACCEPTED,A_ACTIVATED,O_CANCELLED,A_DECLINED,A_CANCELLED,W_Afhandelen leads,O_DECLINED,W_Nabellen incomplete dossiers,W_Beoordelen fraude
727,173805,A_SUBMITTED,2011/10/01 21:07:54.696,2011/10/01 21:07:54.696,5000,2011/10/01 21:07:54.696,112,173805.0,A_PARTLYSUBMITTED,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
728,173805,A_PARTLYSUBMITTED,2011/10/01 21:07:54.901,2011/10/01 21:07:54.901,5000,2011/10/01 21:07:54.696,112,173805.0,A_PREACCEPTED,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
729,173805,A_PREACCEPTED,2011/10/01 21:08:44.661,2011/10/01 21:08:44.661,5000,2011/10/01 21:07:54.696,112,173805.0,A_PREACCEPTED,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
730,173805,A_PREACCEPTED,2011/10/01 21:08:44.661,2011/10/01 21:08:44.661,5000,2011/10/01 21:07:54.696,112,173805.0,W_Completeren aanvraag,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
731,173805,W_Completeren aanvraag,2011/10/03 09:35:42.529,2011/10/03 09:37:47.189,5000,2011/10/01 21:07:54.696,11180,173805.0,W_Completeren aanvraag,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
732,173805,W_Completeren aanvraag,2011/10/03 09:42:16.370,2011/10/03 09:53:27.930,5000,2011/10/01 21:07:54.696,11180,173805.0,A_ACCEPTED,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
733,173805,A_ACCEPTED,2011/10/03 09:50:56.749,2011/10/03 09:50:56.749,5000,2011/10/01 21:07:54.696,11202,173805.0,O_SELECTED,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
734,173805,O_SELECTED,2011/10/03 09:53:24.490,2011/10/03 09:53:24.490,5000,2011/10/01 21:07:54.696,11202,173805.0,A_FINALIZED,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
735,173805,A_FINALIZED,2011/10/03 09:53:24.491,2011/10/03 09:53:24.491,5000,2011/10/01 21:07:54.696,11202,173805.0,O_CREATED,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
736,173805,O_CREATED,2011/10/03 09:53:25.300,2011/10/03 09:53:25.300,5000,2011/10/01 21:07:54.696,11202,173805.0,O_SENT,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
737,173805,O_SENT,2011/10/03 09:53:25.329,2011/10/03 09:53:25.329,5000,2011/10/01 21:07:54.696,11202,173805.0,O_SENT,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
738,173805,O_SENT,2011/10/03 09:53:25.329,2011/10/03 09:53:25.329,5000,2011/10/01 21:07:54.696,11202,173805.0,W_Nabellen offertes,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
739,173805,W_Nabellen offertes,2011/10/03 09:54:17.405,2011/10/03 09:59:31.603,5000,2011/10/01 21:07:54.696,11202,173805.0,W_Nabellen offertes,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
740,173805,W_Nabellen offertes,2011/10/03 10:06:45.206,2011/10/03 10:06:56.032,5000,2011/10/01 21:07:54.696,11202,173805.0,W_Nabellen offertes,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
741,173805,W_Nabellen offertes,2011/10/10 16:11:20.518,2011/10/10 16:16:26.783,5000,2011/10/01 21:07:54.696,11202,173805.0,W_Nabellen offertes,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
742,173805,W_Nabellen offertes,2011/10/18 09:47:18.813,2011/10/18 14:04:21.409,5000,2011/10/01 21:07:54.696,11202,173805.0,W_Nabellen offertes,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
743,173805,W_Nabellen offertes,2011/10/18 14:05:39.919,2011/10/18 14:09:41.927,5000,2011/10/01 21:07:54.696,10861,173805.0,W_Nabellen offertes,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
744,173805,W_Nabellen offertes,2011/10/19 19:06:17.171,2011/10/19 19:17:02.438,5000,2011/10/01 21:07:54.696,11119,173805.0,W_Nabellen offertes,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
745,173805,W_Nabellen offertes,2011/10/25 12:02:37.939,2011/10/25 12:02:55.271,5000,2011/10/01 21:07:54.696,11201,173805.0,W_Nabellen offertes,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
746,173805,W_Nabellen offertes,2011/10/25 16:10:56.682,2011/10/25 16:11:42.850,5000,2011/10/01 21:07:54.696,10881,173805.0,W_Nabellen offertes,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
747,173805,W_Nabellen offertes,2011/10/25 16:11:48.999,2011/10/25 16:12:11.379,5000,2011/10/01 21:07:54.696,10881,173805.0,W_Nabellen offertes,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
748,173805,W_Nabellen offertes,2011/10/27 14:53:57.195,2011/10/27 14:55:44.713,5000,2011/10/01 21:07:54.696,11189,173805.0,W_Nabellen offertes,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
749,173805,W_Nabellen offertes,2011/10/31 16:10:03.176,2011/10/31 16:11:55.705,5000,2011/10/01 21:07:54.696,11201,173805.0,W_Nabellen offertes,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
750,173805,W_Nabellen offertes,2011/10/31 16:28:04.208,2011/10/31 16:28:29.313,5000,2011/10/01 21:07:54.696,11180,173805.0,W_Nabellen offertes,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
751,173805,W_Nabellen offertes,2011/11/03 09:15:16.491,2011/11/03 09:15:16.491,5000,2011/10/01 21:07:54.696,11180,173805.0,A_CANCELLED,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
752,173805,A_CANCELLED,2011/11/03 09:15:16.497,2011/11/03 09:15:16.497,5000,2011/10/01 21:07:54.696,112,173805.0,O_CANCELLED,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0
753,173805,O_CANCELLED,2011/11/03 09:15:16.500,2011/11/03 09:15:16.500,5000,2011/10/01 21:07:54.696,112,173808.0,NaN,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,1,0,1,0,0,0,0