In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import pm4py
import numpy as np
import datetime
pd.set_option("display.max_rows", None)
from collections import Counter
import operator

In [2]:
log = pm4py.read_xes('./BPI_Challenge_2012.xes.gz')
df = pm4py.convert_to_dataframe(log)

HBox(children=(HTML(value='parsing log, completed traces :: '), FloatProgress(value=0.0, max=13087.0), HTML(vaâ€¦

In [3]:
print('DataFrame size: {}'.format(len(df)))
print('DataFrame without nulls size: {}'.format(len(df.dropna())))

DataFrame size: 262200
DataFrame without nulls size: 244190

In [4]:
df.dropna(inplace=True)
df.describe()

,org:resource,lifecycle:transition,concept:name,time:timestamp,case:REG_DATE,case:concept:name,case:AMOUNT_REQ
count,244190,244190,244190,244190,244190,244190,244190
unique,68,3,24,230197,13087,13087,631
top,112,COMPLETE,W_Completeren aanvraag,2012-01-17 10:11:21.961000+01:00,2011-12-22 21:51:37.590000+01:00,195247,5000
freq,45687,156364,48372,4,168,168,30855

In [5]:
case = 'blib'
first_item = []
for index, row in df.iterrows():
    if case != row['case:concept:name']:
        case = row['case:concept:name']
        task = row['concept:name']
        first_item.append(task)
print(Counter(first_item))

Counter({'A_SUBMITTED': 13087})

In [6]:
Counter(first_item)

Counter({'A_SUBMITTED': 13087})

In [7]:
# def most_common(lst):
#     return max(set(lst), key=lst.count)
# most_common(first_item)
def nth_most_common(w, n):
    sort = dict(sorted(Counter(w).items(), key=lambda item: item[1]))
    return str(list(sort)[-n])

In [8]:
# def get_next_max(task):
#     previous = 'blibs'
#     empty = []
#     case = 'blib'
#     for index, row in df.iterrows():
#         t = row['concept:name']
#         c = row['case:concept:name']
#         if (case == c) & (previous == task):
#             empty.append(t)
#         case = c
#         previous = t
#     return Counter(empty)

In [9]:
# w = get_next_max('W_Completeren aanvraag')

In [10]:
def get_next_max(task, trace):
    previous = 'blibs'
    empty = []
    case = 'blib'
    for index, row in df.iterrows():
        t = row['concept:name']
        c = row['case:concept:name']
        if (case == c) & (previous == task):
            empty.append(t)
        case = c
        previous = t
    for i in range (1,20):
        print(i)
        if nth_most_common(empty, i) in trace:
            continue
        else: 
            print(Counter(empty))
            return nth_most_common(empty, i)

def most_common_trace():
    global trace
    trace = ['A_SUBMITTED']
    after = 'A_SUBMITTED'
    for i in range (1,14):
        after = get_next_max(after, trace=trace)
        trace.append(after)
        print(after)
    return trace

most_common_trace = most_common_trace()
most_common_trace

1
Counter({'A_PARTLYSUBMITTED': 13087})
A_PARTLYSUBMITTED
1
Counter({'A_PREACCEPTED': 4852, 'W_Afhandelen leads': 4739, 'A_DECLINED': 3429, 'W_Beoordelen fraude': 67})
A_PREACCEPTED
1
Counter({'W_Completeren aanvraag': 7304, 'A_ACCEPTED': 43, 'A_DECLINED': 14, 'A_CANCELLED': 6})
W_Completeren aanvraag
1
2
Counter({'W_Completeren aanvraag': 32994, 'A_ACCEPTED': 5006, 'W_Nabellen offertes': 4185, 'W_Afhandelen leads': 2177, 'A_CANCELLED': 1113, 'A_DECLINED': 1045, 'O_SENT_BACK': 64, 'O_SELECTED': 33, 'A_FINALIZED': 19, 'O_CANCELLED': 16, 'W_Beoordelen fraude': 7, 'O_DECLINED': 1})
A_ACCEPTED
1
Counter({'O_SELECTED': 2881, 'A_FINALIZED': 2089, 'W_Completeren aanvraag': 69, 'A_CANCELLED': 48, 'A_DECLINED': 26})
O_SELECTED
1
Counter({'O_CREATED': 3148, 'A_FINALIZED': 2907, 'O_CANCELLED': 974, 'W_Nabellen offertes': 1})
O_CREATED
1
Counter({'O_SENT': 7030})
O_SENT
1
Counter({'W_Nabellen offertes': 6413, 'W_Nabellen incomplete dossiers': 395, 'O_CANCELLED': 91, 'O_SELECTED': 73, 'O_SENT_BACK': 49, 'A_CANCELLED': 6, 'W_Wijzigen contractgegevens': 1, 'A_DECLINED': 1, 'W_Completeren aanvraag': 1})
W_Nabellen offertes
1
2
3
Counter({'W_Nabellen offertes': 30310, 'W_Completeren aanvraag': 4281, 'O_SENT_BACK': 3141, 'W_Valideren aanvraag': 2858, 'O_CANCELLED': 1447, 'A_CANCELLED': 777, 'O_SELECTED': 689, 'A_DECLINED': 26, 'O_DECLINED': 20, 'O_CREATED': 1})
O_SENT_BACK
1
Counter({'W_Valideren aanvraag': 3452, 'O_CANCELLED': 1, 'A_CANCELLED': 1})
W_Valideren aanvraag
1
2
Counter({'W_Valideren aanvraag': 5815, 'W_Nabellen incomplete dossiers': 5674, 'W_Nabellen offertes': 2905, 'O_ACCEPTED': 1136, 'A_APPROVED': 489, 'O_DECLINED': 348, 'A_DECLINED': 320, 'A_REGISTERED': 228, 'A_ACTIVATED': 198, 'O_CANCELLED': 111, 'O_SELECTED': 111, 'W_Beoordelen fraude': 93, 'A_CANCELLED': 12, 'W_Wijzigen contractgegevens': 4})
W_Nabellen incomplete dossiers
1
2
3
4
Counter({'W_Nabellen incomplete dossiers': 16763, 'W_Valideren aanvraag': 5228, 'O_SENT_BACK': 200, 'O_CANCELLED': 149, 'O_ACCEPTED': 109, 'O_SELECTED': 94, 'A_CANCELLED': 72, 'O_DECLINED': 50, 'A_APPROVED': 44, 'A_DECLINED': 36, 'A_ACTIVATED': 23, 'A_REGISTERED': 19, 'W_Wijzigen contractgegevens': 1})
O_CANCELLED
1
2
3
Counter({'O_SELECTED': 1041, 'O_CREATED': 974, 'A_CANCELLED': 767, 'W_Nabellen offertes': 438, 'W_Nabellen incomplete dossiers': 67, 'W_Valideren aanvraag': 12})
A_CANCELLED

['A_SUBMITTED',
 'A_PARTLYSUBMITTED',
 'A_PREACCEPTED',
 'W_Completeren aanvraag',
 'A_ACCEPTED',
 'O_SELECTED',
 'O_CREATED',
 'O_SENT',
 'W_Nabellen offertes',
 'O_SENT_BACK',
 'W_Valideren aanvraag',
 'W_Nabellen incomplete dossiers',
 'O_CANCELLED',
 'A_CANCELLED']