## This file preprocesses the *csv* files into the correct format with regards to datetimes

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_training = pd.read_csv('BPI_Challenge_2012-training.csv')
df_test = pd.read_csv('BPI_Challenge_2012-test.csv')

In [28]:
len(df_training)

214377

In [27]:
len(df_test)

47823

In [5]:
df_training.columns

Index(['eventID ', 'case concept:name', 'case REG_DATE', 'case AMOUNT_REQ',
       'event concept:name', 'event lifecycle:transition',
       'event time:timestamp'],
      dtype='object')

In [4]:
df_training.describe()

           eventID   case concept:name  case AMOUNT_REQ
count  2.143770e+05      214377.000000    214377.000000
mean   2.268239e+13      190155.106742     15349.297327
std    1.324009e+13        9592.111876     12179.774398
min    0.000000e+00      173688.000000         0.000000
25%    1.090922e+13      181658.000000      6500.000000
50%    2.328302e+13      190591.000000     10300.000000
75%    3.404191e+13      198373.000000     20000.000000
max    4.495972e+13      206321.000000     99999.000000

In [19]:
#return the float value of a timestamp to facilitate comparison and arithmetic operations

def datetime_to_float(d):
    return d.timestamp()

#get the timestamp from the float
def float_to_datetime(fl):
    return datetime.datetime.fromtimestamp(fl)

In [67]:
# 01-01-2012 02:31:02.480
df_training['event time:timestamp'] = pd.to_datetime(df_training['event time:timestamp'])
df_training['case REG_DATE'] = pd.to_datetime(df_training['case REG_DATE'])

In [69]:
df_test['event time:timestamp'] = pd.to_datetime(df_test['event time:timestamp'])
df_test['case REG_DATE'] = pd.to_datetime(df_test['case REG_DATE'])

In [70]:
type(df_test.loc[0, 'event time:timestamp'])

pandas._libs.tslibs.timestamps.Timestamp

In [55]:
type(df_training.loc[0, 'event time:timestamp'])

pandas._libs.tslibs.timestamps.Timestamp

In [71]:
time_column = 'event time:timestamp'

In [72]:
df_training.sort_values(by=time_column, inplace=True, ascending=True)
df_test.sort_values(by=time_column, inplace=True, ascending=True)

for i in range(len(df_test)):
    for j in range(len(df_training)):
        if (df_test.iloc[i][time_column] < df_training.iloc[j][time_column]):
            row = df_training.iloc[j]
            df_test.append(row)
            df_training.drop([j])
        else:
            break

In [73]:
df_training.drop_duplicates(inplace=True)
df_training.dropna(inplace=True)

df_test.drop_duplicates(inplace=True)
df_test.dropna(inplace=True)

In [74]:
len(df_training)

214377

In [75]:
len(df_test)

47823

### The training dataset contains all datetimes sorted, and the test dataset contains datetimes bigger than all training datetimes

In [63]:
df_training.to_csv('bpi_2012_train.csv')
df_test.to_csv('bpi_2012_test.csv')