In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from scipy import stats
from scipy.stats import *
import sqlite3
import time
from collections import Counter
# next command ensures that plots appear inside the notebook
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns  # also improves the look of plots
sns.set()
plt.rcParams['figure.figsize'] = 10, 5  # default hor./vert. size of plots, in inches
plt.rcParams['lines.markeredgewidth'] = 1  # to fix issue with seaborn box plots; needed after import seaborn

In [2]:
df=pd.read_csv(r"C:\Users\Gebruiker\Downloads\BPI_Challenge_2012.xes.gz_UNPACKED (1).csv")
df.dropna()
df

,Unnamed: 0,org:resource,lifecycle:transition,concept:name,time:timestamp,case:REG_DATE,case:concept:name,case:AMOUNT_REQ
0,0,112.0,COMPLETE,A_SUBMITTED,2011-10-01 00:38:44.546000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000
1,1,112.0,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000
2,2,112.0,COMPLETE,A_PREACCEPTED,2011-10-01 00:39:37.906000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000
3,3,112.0,SCHEDULE,W_Completeren aanvraag,2011-10-01 00:39:38.875000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000
4,4,NaN,START,W_Completeren aanvraag,2011-10-01 11:36:46.437000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000
...,...,...,...,...,...,...,...,...
262195,262195,112.0,COMPLETE,A_PARTLYSUBMITTED,2012-02-29 23:51:17.423000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000
262196,262196,112.0,SCHEDULE,W_Afhandelen leads,2012-02-29 23:52:01.287000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000
262197,262197,11169.0,START,W_Afhandelen leads,2012-03-01 09:26:46.736000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000
262198,262198,11169.0,COMPLETE,A_DECLINED,2012-03-01 09:27:37.118000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000
262199,262199,11169.0,COMPLETE,W_Afhandelen leads,2012-03-01 09:27:41.325000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000

In [3]:
df=df.dropna()
df

,Unnamed: 0,org:resource,lifecycle:transition,concept:name,time:timestamp,case:REG_DATE,case:concept:name,case:AMOUNT_REQ
0,0,112.0,COMPLETE,A_SUBMITTED,2011-10-01 00:38:44.546000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000
1,1,112.0,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000
2,2,112.0,COMPLETE,A_PREACCEPTED,2011-10-01 00:39:37.906000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000
3,3,112.0,SCHEDULE,W_Completeren aanvraag,2011-10-01 00:39:38.875000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000
5,5,10862.0,COMPLETE,A_ACCEPTED,2011-10-01 11:42:43.308000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000
...,...,...,...,...,...,...,...,...
262195,262195,112.0,COMPLETE,A_PARTLYSUBMITTED,2012-02-29 23:51:17.423000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000
262196,262196,112.0,SCHEDULE,W_Afhandelen leads,2012-02-29 23:52:01.287000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000
262197,262197,11169.0,START,W_Afhandelen leads,2012-03-01 09:26:46.736000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000
262198,262198,11169.0,COMPLETE,A_DECLINED,2012-03-01 09:27:37.118000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000
262199,262199,11169.0,COMPLETE,W_Afhandelen leads,2012-03-01 09:27:41.325000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000

In [4]:
# Get the most common next event type for the given ev_type
# This function replaces block 10 til 15 (10: "def nth_most_common(w, n):", 15: "next_common_train")
def get_most_common_next_type(df, ev_type):
    # Find all rows of the given event type
    target_rows = df[df['concept:name'] == ev_type]
    successors = []
    
    # Loop over all rows of the given event type
    for idx, row in target_rows.iterrows():
        
        # Only check the next row if it exists in the DF
        if idx + 1 < len(df):
            current_case = row['case:concept:name']
            next_case = df.loc[df.index[idx + 1], 'case:concept:name']

            # If the next event in the DF is in the same case, add the event type to the successors list
            if current_case == next_case:
                successors.append(df.loc[df.index[idx + 1], 'concept:name'])
    
    # Return the most common event type in the successors list
    return max(set(successors), key=successors.count) if len(successors) > 0 else None

In [6]:
event_types = df['concept:name'].unique()

most_common_next_types = {}
for ev_type in event_types:
    most_common_next_types[ev_type] = get_most_common_next_type(df, ev_type=ev_type)

In [7]:
df["time_till_next"]=df["time:timestamp"]

<ipython-input-7-5c411fa9f0cc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["time_till_next"]=df["time:timestamp"]

In [8]:
df["time:timestamp"]= pd.to_datetime(df["time:timestamp"])

<ipython-input-8-0f9b8fb3268c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["time:timestamp"]= pd.to_datetime(df["time:timestamp"])

In [9]:
df["case:REG_DATE"]= pd.to_datetime(df["case:REG_DATE"])

<ipython-input-9-80b2202a3cd9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["case:REG_DATE"]= pd.to_datetime(df["case:REG_DATE"])

In [10]:
df["time_till_next"]=pd.to_datetime(df["time_till_next"])

<ipython-input-10-bde2636cbe44>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["time_till_next"]=pd.to_datetime(df["time_till_next"])

In [11]:
df

,Unnamed: 0,org:resource,lifecycle:transition,concept:name,time:timestamp,case:REG_DATE,case:concept:name,case:AMOUNT_REQ,time_till_next
0,0,112.0,COMPLETE,A_SUBMITTED,2011-10-01 00:38:44.546000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000,2011-10-01 00:38:44.546000+02:00
1,1,112.0,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000,2011-10-01 00:38:44.880000+02:00
2,2,112.0,COMPLETE,A_PREACCEPTED,2011-10-01 00:39:37.906000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000,2011-10-01 00:39:37.906000+02:00
3,3,112.0,SCHEDULE,W_Completeren aanvraag,2011-10-01 00:39:38.875000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000,2011-10-01 00:39:38.875000+02:00
5,5,10862.0,COMPLETE,A_ACCEPTED,2011-10-01 11:42:43.308000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000,2011-10-01 11:42:43.308000+02:00
...,...,...,...,...,...,...,...,...,...
262195,262195,112.0,COMPLETE,A_PARTLYSUBMITTED,2012-02-29 23:51:17.423000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000,2012-02-29 23:51:17.423000+01:00
262196,262196,112.0,SCHEDULE,W_Afhandelen leads,2012-02-29 23:52:01.287000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000,2012-02-29 23:52:01.287000+01:00
262197,262197,11169.0,START,W_Afhandelen leads,2012-03-01 09:26:46.736000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000,2012-03-01 09:26:46.736000+01:00
262198,262198,11169.0,COMPLETE,A_DECLINED,2012-03-01 09:27:37.118000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000,2012-03-01 09:27:37.118000+01:00
262199,262199,11169.0,COMPLETE,W_Afhandelen leads,2012-03-01 09:27:41.325000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000,2012-03-01 09:27:41.325000+01:00

In [12]:
df["time_till_next"]=df["time:timestamp"]-df["case:REG_DATE"]

<ipython-input-12-11f473f61be8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["time_till_next"]=df["time:timestamp"]-df["case:REG_DATE"]

In [13]:
df

,Unnamed: 0,org:resource,lifecycle:transition,concept:name,time:timestamp,case:REG_DATE,case:concept:name,case:AMOUNT_REQ,time_till_next
0,0,112.0,COMPLETE,A_SUBMITTED,2011-10-01 00:38:44.546000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000,0 days 00:00:00
1,1,112.0,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000,0 days 00:00:00.334000
2,2,112.0,COMPLETE,A_PREACCEPTED,2011-10-01 00:39:37.906000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000,0 days 00:00:53.360000
3,3,112.0,SCHEDULE,W_Completeren aanvraag,2011-10-01 00:39:38.875000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000,0 days 00:00:54.329000
5,5,10862.0,COMPLETE,A_ACCEPTED,2011-10-01 11:42:43.308000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000,0 days 11:03:58.762000
...,...,...,...,...,...,...,...,...,...
262195,262195,112.0,COMPLETE,A_PARTLYSUBMITTED,2012-02-29 23:51:17.423000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000,0 days 00:00:00.624000
262196,262196,112.0,SCHEDULE,W_Afhandelen leads,2012-02-29 23:52:01.287000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000,0 days 00:00:44.488000
262197,262197,11169.0,START,W_Afhandelen leads,2012-03-01 09:26:46.736000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000,0 days 09:35:29.937000
262198,262198,11169.0,COMPLETE,A_DECLINED,2012-03-01 09:27:37.118000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000,0 days 09:36:20.319000
262199,262199,11169.0,COMPLETE,W_Afhandelen leads,2012-03-01 09:27:41.325000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000,0 days 09:36:24.526000

In [15]:
c=0
s=df.iloc[1,8]
time_till_next={}
for j in event_types:
    for i in range (1,244189):
        if df.iloc[i,3]==j: 
            a=s+(df.iloc[i+1]["case:REG_DATE"]-df.iloc[i]["case:REG_DATE"])
            c=c+1
    time_till_next[j] = s/c
time_till_next

{'A_SUBMITTED': Timedelta('0 days 00:00:00.000025523'),
 'A_PARTLYSUBMITTED': Timedelta('0 days 00:00:00.000012761'),
 'A_PREACCEPTED': Timedelta('0 days 00:00:00.000009958'),
 'W_Completeren aanvraag': Timedelta('0 days 00:00:00.000004077'),
 'A_ACCEPTED': Timedelta('0 days 00:00:00.000003837'),
 'O_SELECTED': Timedelta('0 days 00:00:00.000003551'),
 'A_FINALIZED': Timedelta('0 days 00:00:00.000003371'),
 'O_CREATED': Timedelta('0 days 00:00:00.000003147'),
 'O_SENT': Timedelta('0 days 00:00:00.000002952'),
 'W_Nabellen offertes': Timedelta('0 days 00:00:00.000002116'),
 'O_SENT_BACK': Timedelta('0 days 00:00:00.000002070'),
 'W_Valideren aanvraag': Timedelta('0 days 00:00:00.000001840'),
 'A_REGISTERED': Timedelta('0 days 00:00:00.000001817'),
 'A_APPROVED': Timedelta('0 days 00:00:00.000001796'),
 'O_ACCEPTED': Timedelta('0 days 00:00:00.000001774'),
 'A_ACTIVATED': Timedelta('0 days 00:00:00.000001753'),
 'O_CANCELLED': Timedelta('0 days 00:00:00.000001720'),
 'W_Wijzigen contractgegevens': Timedelta('0 days 00:00:00.000001720'),
 'A_DECLINED': Timedelta('0 days 00:00:00.000001655'),
 'A_CANCELLED': Timedelta('0 days 00:00:00.000001632'),
 'W_Afhandelen leads': Timedelta('0 days 00:00:00.000001521'),
 'O_DECLINED': Timedelta('0 days 00:00:00.000001516'),
 'W_Nabellen incomplete dossiers': Timedelta('0 days 00:00:00.000001371'),
 'W_Beoordelen fraude': Timedelta('0 days 00:00:00.000001367')}

In [16]:
df['time_till_next'] = df['concept:name'].map(time_till_next)
df['pred_next_event'] = df['concept:name'].map(most_common_next_types)

<ipython-input-16-be798d285801>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['time_till_next'] = df['concept:name'].map(time_till_next)
<ipython-input-16-be798d285801>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pred_next_event'] = df['concept:name'].map(most_common_next_types)

In [17]:
df

,Unnamed: 0,org:resource,lifecycle:transition,concept:name,time:timestamp,case:REG_DATE,case:concept:name,case:AMOUNT_REQ,time_till_next,pred_next_event
0,0,112.0,COMPLETE,A_SUBMITTED,2011-10-01 00:38:44.546000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000,0 days 00:00:00.000025523,A_PARTLYSUBMITTED
1,1,112.0,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000,0 days 00:00:00.000012761,O_CREATED
2,2,112.0,COMPLETE,A_PREACCEPTED,2011-10-01 00:39:37.906000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000,0 days 00:00:00.000009958,O_SENT
3,3,112.0,SCHEDULE,W_Completeren aanvraag,2011-10-01 00:39:38.875000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000,0 days 00:00:00.000004077,W_Nabellen offertes
5,5,10862.0,COMPLETE,A_ACCEPTED,2011-10-01 11:42:43.308000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000,0 days 00:00:00.000003837,A_FINALIZED
...,...,...,...,...,...,...,...,...,...,...
262195,262195,112.0,COMPLETE,A_PARTLYSUBMITTED,2012-02-29 23:51:17.423000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000,0 days 00:00:00.000012761,O_CREATED
262196,262196,112.0,SCHEDULE,W_Afhandelen leads,2012-02-29 23:52:01.287000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000,0 days 00:00:00.000001521,None
262197,262197,11169.0,START,W_Afhandelen leads,2012-03-01 09:26:46.736000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000,0 days 00:00:00.000001521,None
262198,262198,11169.0,COMPLETE,A_DECLINED,2012-03-01 09:27:37.118000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000,0 days 00:00:00.000001655,None
262199,262199,11169.0,COMPLETE,W_Afhandelen leads,2012-03-01 09:27:41.325000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000,0 days 00:00:00.000001521,None